:root {
    /* Special */
    --background: #283149;
    --foreground: #dbedf3;
    --cursor: #a3c9de;

    /* Colors */
    --color0: #404b69;
    --color1: #0fff83;
    --color2: #2effaf;
    --color3: #2effaf;
    --color4: #2ee0ff;
    --color5: #3fb4d1;
    --color6: #c59820;
    --color7: #b02f30;
    --color8: #9ea7a6;
    --color9: #3f4944;
    --color10: #2a5491;
    --color11: #237986;
    --color12: #a03b1e;
    --color13: #484d79;
    --color14: #c59820;
    --color15: #b02f30;
    --color16: #373744;
}

@font-face {
  font-family: 'Hack';
  src: url("https://rinri-d.xyz/css/fonts/hack-regular.woff2") format('woff2'), url("https://rinri-d.xyz/css/fonts/hack-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url("https://rinri-d.xyz/css/fonts/hack-bold.woff2") format('woff2'), url("https://rinri-d.xyz/css/fonts/hack-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url("https://rinri-d.xyz/css/fonts/hack-italic.woff2") format('woff2'), url("https://rinri-d.xyz/css/fonts/hack-italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url("https://rinri-d.xyz/css/fonts/hack-bolditalic.woff2") format('woff2'), url("https://rinri-d.xyz/css/fonts/hack-bolditalic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}

html,
body {
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: "Hack", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.container {
    min-height: 100%;
}

.navbar {
    background-color: var(--color0);
    margin-bottom: 1em;
}

.leftimg {
    float: left;
    margin: 0px 7px 0px 7px;
}

.rightimg {
    float: right;
    margin: 0px 7px 0px 7px;
}

.item-info {
    display: inline-block;
    /*border: 1px solid   ;*/
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    background: var(--color0);
}

a {
    color: var(--color4);
}

a:hover {
    text-decoration: none;
    color: var(--color5);
}

h1 {
    color: var(--color1);
}

h2 {
    color: var(--color2);
}

h3 {
    color: var(--color3);
}

.navbar-default .navbar-brand {
    color: var(--color1);
}

img {
    width: 80%;
    margin-left: 10%;
}

.footer {
    margin-top: 100px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background-color: var(--color0);
}

.logo {
    width: 33px;
}

hr {
    background-color: gray;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
}
td,
th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: 1px solid #dee2e6;
}
thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.textarea {
    color: black;
}

li {
    margin-bottom: 10px;
}

.indent-l{
    margin-left: 2rem;
}
