@import url(https://rinri-d.xyz/css/font.css);
@import url(https://rinri-d.xyz/css/normalize.css);

:root {
    /* Special */
    --background: #282f42;
    --foreground: #dbedf3;
    --cursor: #a3c9de;

    /* Colors */
    --color0: #2a3246;
    --color1: #0fff83;
    --color2: #2effaf;
    --color3: #8ffcc9;
    --color4: #2ee0ff;
    --color5: #3fb4d1;
    --color6: #c59820;
    --color7: #b02f30;
    --color8: #9ea7a6;
    --color9: #3f4944;
    --color10: #2a5491;
    --color11: #237986;
    --color12: #a03b1e;
    --color13: #484d79;
    --color14: #c59820;
    --color15: #b02f30;
    --color16: #373744;

    --phoneWidth: (max-width:684px);
    --tabletWidth: (max-width:900px);
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Hack", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

a {
    text-decoration: none;
    color: var(--color4);
}

a:hover {
    text-decoration: none;
    color: var(--color5);
}

h1 {
    color: var(--color1);
    font-size: 2.5rem;
}

h2 {
    color: var(--color2);
    font-size: 2rem;
}

h3 {
    color: var(--color3);
    font-size: 1.75rem;
}

h4 {
    color: var(--color3);
    font-size: 1.5rem;
}

h5 {
    color: var(--color3);
    font-size: 1.25rem;
}

h6 {
    color: var(--color3);
    font-size: 1rem;
}

hr {
    border-color: var(--color1);
    margin: 0.5em 0;
    opacity: 0.5;
}

.textarea {
    color: black;
}

p, ul, ol, dl {
    margin-bottom: 1em;
}

ul, ol {
    padding-inline-start: 40px;
}

li {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
    font-weight: 500;
    line-height: 1.2;
}

.topnav {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.7em 0.5em ;
    background-color: var(--background);
}

header .topnav .links{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 730px) {
    header .topnav .links{
        flex-direction: column;
    }
}

header .topnav a {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .5);
    margin-right: 2em;
}

header .topnav a:hover,
header .topnav a.active {
    color: rgba(255, 255, 255, 1);
    transition: all .3s ease;
}

.align-items-center {
    align-items: center;
}

.contacts {
    text-align: center;
}

.text-muted{
    opacity: 0.5 ;
}

.mb-1{
    margin-bottom: 1;
}

.mb-2{
    margin-bottom: 2;
}

.mb-3{
    margin-bottom: 3;
}

.item-info {
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-top: 1em;
    text-align: left;
    background: var(--color0);
}

.indent-l{
    margin-left: 2em;
}

hr.delimiter {
    border: 1px dashed var(--color1);
}